{% extends "layout.html" %}
{% block kontenku %}

  <h2 class="display-6">Manajemen Data Matakuliah</h2>
  <hr>
  <a href="/courses/add" class="btn btn-dark mb-4 mt-2"> Tambah Matakuliah</a>

  <div class="row">
   
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr class="bg-secondary text-white">
            <td>ID</td>
            <td>Nama Matakuliah</td>
            <td>SKS</td>
            <td>Aksi</td>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
            <td> {{ course.0 }} </td> 
            <td>
              {{ course.1 }}
              <br>
              <small>{{ course.3 }}</small>
            </td>
            <td>{{ course.2 }}</td>
            <td>
              <a href="/courses/edit/{{ course.0 }}" class="btn btn-primary">Ubah</a>
              <a href="/courses/delete/{{ course.0 }}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')">Hapus</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
