{% extends "layout.html" %}
{% block kontenku %}

<h2 class="display-6">Tambah Matakuliah</h2>
<hr />
<div class="row justify-content-center">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/courses">Data Matakuliah</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Matakuliah</li>
            </ol>
        </nav>
    </div>

    <div class="col-md-8">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/courses/add" method="POST">
                <div class="mb-3">
                    <label for="course_name" class="form-label">Nama Matakuliah</label>
                    <input type="text" class="form-control" name="course_name" placeholder="Nama Kursus" />
                </div>
                <div class="mb-3">
                    <label for="sks" class="form-label">SKS</label>
                    <input type="number" class="form-control" name="sks" placeholder="SKS" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Deskripsi</label>
                    <textarea class="form-control" name="description" placeholder="Deskripsi"></textarea>
                </div>
                <button class="btn btn-primary btn-block">Tambah</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
