{% extends "layout.html" %}
{% block kontenku %}
    <h1>Tentang SIM</h1>
    <hr>
    <p>
        Sistem Informasi Mahasiswa (SIM) adalah sebuah platform atau aplikasi komputer yang dirancang khusus untuk mengelola informasi terkait mahasiswa di sebuah institusi pendidikan, seperti perguruan tinggi atau universitas. SIM menyediakan beragam fitur yang memungkinkan pengelolaan data mahasiswa secara efisien, termasuk informasi pribadi, akademik, dan administratif.
    </p>

    <p>
    Pertama, SIM memungkinkan administrasi akademik untuk mencatat dan mengelola informasi pendaftaran mahasiswa baru, termasuk data pribadi, riwayat pendidikan, dan program studi yang dipilih. Selain itu, SIM juga memfasilitasi pengelolaan data mahasiswa yang sedang aktif, termasuk informasi mengenai jadwal perkuliahan, prestasi akademik, dan hasil ujian.   
    Kedua, SIM menyediakan layanan yang memudahkan mahasiswa untuk mengakses informasi yang dibutuhkan, seperti jadwal kuliah, hasil ujian, dan rencana studi. Selain itu, beberapa SIM juga dilengkapi dengan fitur yang memungkinkan mahasiswa untuk melakukan proses administratif secara online, seperti registrasi mata kuliah, pengisian formulir, dan pembayaran biaya kuliah.
    </p>

    <p>
    Secara keseluruhan, Sistem Informasi Mahasiswa bertujuan untuk meningkatkan efisiensi dalam pengelolaan data mahasiswa dan memberikan akses yang lebih mudah terhadap informasi akademik, sehingga dapat mendukung proses pembelajaran dan pengambilan keputusan di lingkungan pendidikan tinggi.
    </p>

{% endblock %}

